@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Limelight&family=Poppins:wght@400;700&display=swap');

//vars fonts
$font1: 'Poppins', sans-serif;
$font2: 'Limelight', cursive;
$font3: 'ABeeZee', sans-serif;
h1,
h2,
h3,
h4,
h5,
[href="../pages/service.html#collaborativework"],
[href="../pages/service.html#responsivedesing"],
[href="../pages/service.html#tutoring"]{
    font-family: $font2;
}
p{
    font-family: $font3;
}
footer p{
    font-family: $font1;
}
//sizes
$textSm:0.8em;
$textMd:1em;
$textLg:1.6em;
$textXl:3em;

//weight
$text_light:400;
$text_bold:700;

.textYellow{
    color: map-get($map: $colors, $key: 'yellowOne');
}
.bg_color{
	background-color: map-get($map: $colors, $key: 'grey')
}