// colors
$colors:(
  'green': hsl(132, 100%, 65%),
  'yellowOne': hsl(56, 100%, 65%),
  'yellowTwo': hsl(38, 100%, 65%),
  'darkYellow': hsl(44, 16%, 18%),
  'white': hsl(35, 38%, 94%),
  'darkGrey_trans': hsla(44, 16%, 18%, 0.5),
  'grey': hsl(0, 0%, 47%),
  'darkGreenTrans':hsla(132, 100%, 65%, 0.5),
  'black':hsl(120, 100%, 0%),
);

//breakpoints
$breakpoints: (
  ssm: 200px,
  sm : 576px,
  md : 768px,
  lg : 992px,
  xl : 1200px,
);

@mixin media_up ($breakpoint) {
  @media screen and (min-width: map-get($breakpoints,$breakpoint)){
    @content
  }
};
// name selector{@include media_up(ssm/sm/md/lg){Element to changue}}
@mixin d_flex ($f_direction,$j_content) {
  display: flex;
  flex-direction: $f_direction;
  justify-content: $j_content;
};
// name selector{@include d_flex(column/row,flex-start/center/flex-end/space-between/space-around/space-evenly/);}
@mixin contact_span ($btn_width,$btn_height,$btn_background){
  width: $btn_width;
  height: $btn_height;
  background: $btn_background;
};
// name selector{@include contact_span(width,height,background);}