.body{
	background-image: url(../images/banner.webp);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    color: map-get($map: $colors, $key: 'white');
    @include d_flex(column,space-between);
}
#circle{
    border-radius: 50%;
    @extend .border_darkYellow;
}
.imgGeneral{
    border-radius: 10%;
    @extend .border_yellow;
}
.border_darkYellow{
    border: solid 0.4rem;
    color: map-get($map: $colors, $key: 'darkYellow');
}
.page404{
    @include d_flex (column,space-evenly);
    min-height: 100vh;
}
.clr_green{
    color: map-get($map: $colors, $key: 'green');
}
.clr_yellow{
    color: map-get($map: $colors, $key: 'yellowTwo');
}
.border_yellow{
    border: solid 0.4rem;
    color: map-get($map: $colors, $key: 'yellowTwo');
}