@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

//vars fonts
$font:'Poppins', sans-serif;

//sizes
$textSm:0.8em;
$textMd:1em;
$textLg:1.6em;
$textXl:3em;

//weight
$text_light:400;
$text_bold:700;

.textYellow{
    color: $clr_yellowOne
}