@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.textYellow {
  color: #fff34d; }

@media screen and (min-width: 200px) {
  .navDecoration {
    font-family: "Poppins", sans-serif;
    font-weight: 400; }
    .navDecoration .nav-link {
      display: flex;
      flex-direction: row-reverse; }
      .navDecoration .nav-link:hover {
        color: #ffbe4d; } }

@media screen and (min-width: 576px) {
  .navDecoration {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: rgba(53, 49, 39, 0.5);
    border-radius: 2.5rem;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.4s;
    margin: auto 0.15rem; }
    .navDecoration:hover {
      color: #ffbe4d;
      background-size: 70% 2px; } }

body nav div button.navbar-toggler:hover {
  color: #4dff70; }

.body {
  background-image: url(../images/banner.webp);
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  color: #f6f1ea;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

#circle {
  border-radius: 50%; }

.imgGeneral {
  border-radius: 10%; }

.border_darkYellow, #circle {
  border: solid 0.4rem;
  color: #353127; }

.page404 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh; }

.clr_green {
  color: #4dff70; }

.clr_yellow {
  color: #ffbe4d; }

.border_yellow, .imgGeneral {
  border: solid 0.4rem;
  color: #ffbe4d; }

.bgColor {
  border-radius: 50%;
  background-color: #f6f1ea; }

.footerP {
  margin: 0rem 1rem; }
